.env
node_modules
.cursor
.minecraft-auth
adminRolesConfig.json
linkedAccountsConfig.json
featureRequestsConfig.json
linkRoleConfig.json
globalProfileConfig.json
auditChannelConfig.json
guildsConfig.json
